:root {
    --primary-clr: lightcoral;
    --secondary-clr: #959595;

    --shimmer-clr: rgba(236, 241, 244, 0.7);
    --shimmer-speed: 1s;
}

/* All Elements */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* Text */
h2,
h3,
h4,
h5,
p {
    line-height: 1.3;
}

/* Utility Class */

.flex-ctr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    padding: 2rem;

    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;

    align-items: center;

    border-radius: 8px;
    outline: 2px solid var(--primary-clr);

    transition: box-shadow 0.5s;
}

.split:hover {
    box-shadow: -4px -4px 0px 0px #cecece, -8px -8px 0px 0px #808080,
        -12px -12px 0px 0px #2d2d2d, 4px 4px 0px 0px #cecece,
        8px 8px 0px 0px #808080, 12px 12px 0px 0px #2d2d2d;
}
.glitch:hover {
    box-shadow: -4px -4px 4px 3px cyan, 4px 4px 0px 3px magenta;
}

.test-header {
    width: 100%;
}

.test-display {
    width: 100%;
    height: 100%;
}

.btn {
    font-size: 16px;
    font-weight: 600;

    letter-spacing: 1px;

    padding: 18px 30px;
    /* min-width: 200px; */

    color: #fff;
    background-color: var(--primary-clr);

    border: none;
    border-radius: 8px;

    transition: all 0.3s;
}

.btn:hover {
    background-color: var(--secondary-clr);
}

.shimmer {
    z-index: 0;

    overflow: hidden;
    position: relative;
}

.shimmer::before {
    z-index: -1;
    content: "";

    width: 70%;
    height: 100%;

    display: block;

    position: absolute;
    top: 0;
    left: -50px;

    background: linear-gradient(
        90deg,
        transparent,
        var(--shimmer-clr),
        transparent
    );

    transition: all var(--shimmer-speed);
    transform: translateX(-120px) skew(-22deg);
}

.shimmer:hover::before {
    transform: translateX(300px) skew(-22deg);
}

.square {
    width: 80px;
    height: 80px;

    border-radius: 50%;

    color: white;
    background: var(--primary-clr);
}
